.chaud {
    color: red
}

.test {
    color: blue
}

.prenom {
    color: grey
}

body {
    font-size: 50px;
    text-align: center;
}

label{
    font-size: 20px;
}

.present{
    color: green;
}
.absent{
    color: red;
}

.age {
    display: none;
}

button, input, optgroup, select, textarea {
    font-size: 30%;
}

